@Styles.Render("~/Content/LoginReg.css")
@model BestLibrary.Models.BookViewModel
@{
    ViewBag.Title = "Create";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <body>
        <div class="card text-white bg-dark" style="max-width: 30rem;">
            <div class="card-body">
                <h2 class="card-header text-center"> Create New Book</h2>
                <form name="form">

                    <label class="col-form-label" for="BookСipher">Book Сipher</label>

                    <div>
                        @Html.EditorFor(model => model.BookСipher, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.BookСipher, "", new { @class = "text-danger" })
                    </div>

                    <label class="col-form-label" for="Name">Name</label>
                    <span class="field-validation-valid" data-valmsg-for="Name" data-valmsg-replace="true"></span>
                    <div>
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>

                    <label class="col-form-label" for="Author">Author</label>
                    <span class="field-validation-valid" data-valmsg-for="Author" data-valmsg-replace="true"></span>
                    <div>
                        @Html.EditorFor(model => model.Author, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Author, "", new { @class = "text-danger" })
                    </div>



                    <label class="col-form-label" for="CountBook">Count Book</label>
                    <span class="field-validation-valid" data-valmsg-for="CountBook" data-valmsg-replace="true"></span>
                    <div>
                        @Html.EditorFor(model => model.CountBook, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CountBook, "", new { @class = "text-danger" })
                    </div>



                    <label class="col-form-label" for="Pages">Pages</label>
                    <span class="field-validation-valid" data-valmsg-for="Pages" data-valmsg-replace="true"></span>
                    <div>
                        @Html.EditorFor(model => model.Pages, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Pages, "", new { @class = "text-danger" })
                    </div>


                    <div class="form-group">
                        <label class="col-form-label" for="PrintDate">Print Date</label>
                        <span class="field-validation-valid" data-valmsg-for="PrintDate" data-valmsg-replace="true"></span>
                        <div>
                            @Html.EditorFor(model => model.PrintDate, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PrintDate, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="align-content-center">
                        <input type="submit" id="Create" class="btn btn-primary btn-block px-0" value="Create" />
                    </div>
                    <div class="text-center">
                        <strong><a href="~/Library/GetAllBooks">Back to List</a></strong>
                    </div>

                </form>
            </div>
        </div>
    </body>
}
